# --- PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/

# --- Node-RED / Node ---
node_modules/
*.log
flows_cred.json
.node-red-config/

# --- Common ---
.DS_Store
Thumbs.db
*.env
secrets*.h
*.key
.vscode/
